resource "aws_instance" "<##INSTANCE_NAME##>" {
        key_name = "vittorio_keypair"
        ami = "ami-021d41cbdefc0c994"
        security_groups = ["<##SECURITY_GROUP##>"]
        subnet_id = "<##SUBNET_ID##>"
	instance_type = "t2.micro"
	user_data = "${file("<##USER_DATA##>")}"

        tags = {
                Name = "VITTORIO-instance-1"
        }
}

